@use "variables" as v;

// ---------- Header ----------
.headerSection {
    background: url(../assets/emile-perron-xrVDYZRGdw4-unsplash.jpg);
    height: calc(100vh - 70px);
    width: 100vw;
    margin-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}

.headerText {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: center;
    padding: 0 0 120px 70px;
    h1 {
        font-size: 4.5rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 4px;
    }
    p {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
}

// ---------- About ----------
.about {
    display: flex;
    padding: 30px 0;
    margin: 30px auto;
}

.aboutImage {
    width: 25%;
    img {
        border: solid 4px #adc5ee;
        box-shadow: 3px 3px 3px #606060;
    }
}

.aboutText {
    margin: auto 0 auto 80px;
    width: 75%;
    h3 {
        margin-top: 3px;
    }
    p{
        margin-bottom: 30px;
    }
    a {
        text-transform: uppercase;
        padding: 9px 13px;
        border-radius: 5px;
        color: #000;
        background-color: #adc5ee;
        width: fit-content;
        border: solid 2px #000;
    }
    a:hover,
    a:focus {
        color: #adc5ee;
        background-color: #000;
        width: fit-content;
        border: solid 2px #adc5ee;
    }
}

// ---------- Skills ----------
.skillsBackground {
    background: linear-gradient(to right, #79879e, #bdcffb, #dff8fd, #fff, #fff, #fff, #fff, #dff8fd, #bdcffb, #79879e);
    padding: 30px 0 50px 0;
    text-align: center;
    h2 {
        margin: 20px 0 60px 0;
    }
}

.skills {
    display: flex;
    justify-content: space-around;
    i {
        font-size: 2.5rem;
        margin-bottom: 6px;
        transition: all 0.3s ease-out;
    }
    i:hover {
        transform: scale(1.4);
    }
}

.iconFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// ---------- Portfolio ----------
.portfolioFlex {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolioTitle {
    text-align: center;
    padding-top: 20px;
    a {
        color: #79879e;
    }
    a:hover {
        color: #adc5ee;
    }
}
  
.portfolioItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: calc(50% - 40px);
    img {
        transition: all 0.3s ease-out;
        margin-bottom: 10px;
    }
    h4 {
        margin-top: 20px;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
      }
}

.portfolioItemContainer:hover img {
    transform: scale(1.1);
    filter: brightness(80%);
}

// ---------- Lets Work Together ----------
.letsWorkBackground {
    background: url(../assets/nordwood-themes-kRNZiGKtz48-unsplash.jpg) bottom fixed;
    width: 100vw;
    padding: 150px 0;
}

.letsWorkTogether {
    text-align: center;
    margin: 50px auto;
    a {
        color: #000;
        transition: all 0.3s ease-out;
    }
    a:hover {
        color: #adc5ee; 
    }
    h3:hover {
        transform: scale(1.1);
        color: #adc5ee;
    }
    h3 {
        font-size: 4rem;
        margin: 6px;
        transition: all 0.3s ease-out;
        width: fit-content;
        margin: 0 auto;
    }
    p {
        margin: 6px;
        color: #606060;
    }
}

// ---------- Quotes ----------
.carousel {
    min-height: 250px;
    position: relative;
    padding-bottom: 40px;
}
.quoteContainer {
    display: flex;
    background: #adc5ee;
    width: 60%;
    padding: 10px;
    border-radius: 3px;
    display: none;
    margin: 75px auto 25px auto;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    min-height: 200px;
}

.quoteContainer.active {
    display: flex;
    opacity: 1;
}

.leftQuote {
    width: 30%;
    margin: 0 20px 35px 30px;
}

.rightQuote {
    width: 70%;
}

.arrowContainer {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
  
.arrow {
    font-size: 3rem;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: all;
    color: #adc5ee;
}
  
.arrow:hover {
    opacity: 1;
}

// ---------- Footer ----------
footer {
    background-color: rgb(173, 197, 238, 0.5);
    padding: 4rem;
}
  
.footContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactNavigationList {
    font-size: 2rem;
    display: flex;
    margin: 0 auto;
    a {
        margin: 25px;
        color: #000;
        transition: all 0.3s ease-out;
    }
    li {
        transition: all 0.3s ease-out;
    }
    li:hover {
        transform: scale(1.4);
    }
}

.footCol1 {
    text-align: center;
    h6,
    p {
        margin: 2px;
        font-size: 1rem;
    }
}

// -------- Media Query (MOBILE SITE) --------
@media (max-width: 600px) {

    /* Header */
    .headerText {
      padding: 0 20px 120px 20px;
      p {
        line-height: 1.1;
      }
    }
  
    /* About */
    .about {
      flex-direction: column;
      margin: 20px auto;
    }
  
    .aboutImage {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .aboutText {
      margin: 0;
      width: 100%;
    }
  
    /* Skills */
    .skills {
      flex-direction: column;
    }
  
    /* Portfolio */
    .portfolioItemContainer {
      width: 100%;
    }
  
    /* Lets Work Together */
    .letsWorkBackground {
      padding: 100px 20px;
    }
  
    .letsWorkTogether {
      margin: 30px auto;
    }
  
    /* Quotes */
    .quoteContainer {
      width: 100%;
      flex-direction: column;
    }

    .leftQuote {
        margin-bottom: 0;
    }
}



  

