.fa-html5 {
    color: #ec632a;
}

.fa-css3-alt {
    color: #2c64ec;
}

.fa-js {
    color: #fbe424;
}

.fa-clipboard-question {
    color: #047cbc;
}

.fa-react {
    color: #78e4fc;
}

.fa-code-branch {
    color: #fcd33f;
}

.fa-linkedin:hover {
    color: #008bc2;
}

.fa-house {
    color: #adc5ee;;
}

.fa-house:hover {
    color: #000;
}